/target
Makefile
CMakeCache.txt
cmake_install.cmake
.vscode
/CMakeFiles
/.vs
/out
.jpg
whiteboard-pal/whiteboard_pal
frame.jpg
perf.csv
whiteboard-pal/build
whiteboard-pal/opencv.zip
whiteboard-pal/opencv_contrib.zip
whiteboard-pal/opencv
whiteboard-pal/opencv_contrib-master
whiteboard-pal/opencv-master
whiteboard-pal/libtensorflow
mediapipe/bazel-*
mediapipe/mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/mediapipe/provisioning_profile.mobileprovision
mediapipe/.configure.bazelrc
mediapipe/.user.bazelrc
mediapipe/env