/target
Makefile
CMakeCache.txt
cmake_install.cmake
.vscode
/CMakeFiles
/.vs
/out
.jpg
whiteboard_pal
frame.jpg
perf.csv
build
opencv.zip
opencv_contrib.zip
opencv
opencv_contrib-master
opencv-master
libtensorflow
mediapipe/bazel-*
mediapipe/mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/mediapipe/provisioning_profile.mobileprovision
mediapipe/.configure.bazelrc
mediapipe/.user.bazelrc
mediapipe/env