/target
Makefile
CMakeCache.txt
cmake_install.cmake
.vscode
/CMakeFiles
/.vs
/out
.jpg
frame.jpg
perf.csv
build
opencv.zip
opencv_contrib.zip
opencv
opencv_contrib-master
opencv-master
libtensorflow
bazel-*
mediapipe/MediaPipe.xcodeproj
MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
env

